@import "@/assets/css/var.scss";
.carTitle {
  color: $leter-color;
}
.cardCustom {
  border: $border-size solid $border-color !important;
  border-radius: $border-radius !important;
  padding: $padding;
  position: $position-relative;
}
.buttons {
  position: $position-absolute;
  top: $top;
  right: $right;
}
.buttons-left {
  position: $position-absolute;
  top: $top;
  left: $left;
}