<template>
  <div>
    <v-card class="mx-auto mt-5 cardCustom" max-width="420">
      <v-card-title v-if="comic" class="carTitle justify-center pt-5">{{
        comic.safe_title
      }}</v-card-title>
      <div v-if="comic" class="buttons-left">
        <span> page:{{ comic.num }} </span>
        <v-tooltip class="mr-3 ml-3" bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-bind="attrs"
              v-on="on"
              icon
              color="warning"
              class="mr-3"
              @click="() => (dialog = !dialog)"
            >
              <v-icon color="warning" dark> mdi-eye </v-icon>
            </v-btn>
          </template>
          <span>My Qualified</span>
        </v-tooltip>
      </div>
      <div class="buttons">
        <v-btn icon color="primary" class="mr-3" @click="randomPage">
          <v-icon>mdi-cached</v-icon>
        </v-btn>
        <v-btn
          small
          color="primary"
          class="mr-3"
          @click="previousPage"
          :disabled="!canPrevious"
        >
          Previus
        </v-btn>
        <v-btn
          small
          color="primary"
          primary
          @click="nextPage"
          :disabled="!canNext"
        >
          Next
        </v-btn>
      </div>
      <v-overlay :value="isLoading">
        <v-progress-circular
          :size="170"
          :width="7"
          color="purple"
          indeterminate
        ></v-progress-circular>
      </v-overlay>

      <v-img v-if="comic" class="white--text align-end" :src="comic.img">
      </v-img>

      <v-card-text v-if="comic" class="text--primary">
        <div class="text-center mt-12">
          <v-rating
            color="warning"
            empty-icon="mdi-star-outline"
            full-icon="mdi-star"
            half-icon="mdi-star-half-full"
            hover
            length="5"
            size="40"
            :value="rating"
            @input="addRating"
          ></v-rating>
        </div>
      </v-card-text>
    </v-card>

    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-h5 grey lighten-2">
          My Qualified
        </v-card-title>

        <v-card-text>
          <v-list v-if="myRating" three-line>
            <template v-for="(item, index) in myRating">
              <v-list-item :key="index">
                <v-list-item-avatar>
                  <v-img :src="item.img"></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title
                    v-html="item.safe_title + ' ' + item.num"
                  ></v-list-item-title>
                  <v-list-item-subtitle>
                    <v-rating
                      color="warning"
                      empty-icon="mdi-star-outline"
                      full-icon="mdi-star"
                      half-icon="mdi-star-half-full"
                      length="5"
                      size="20"
                      :value="item.rating"
                    ></v-rating>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { mapState, mapActions, mapMutations } from "vuex";
export default {
  name: "CardViewComic",
  data() {
    return {
      dialog: false,
    };
  },
  computed: {
    ...mapState("api", ["isLoading", "comic", "canPrevious", "canNext"]),
    ...mapState("rating", ["myRating"]),
    rating() {
      if (this.comic === undefined || this.comic === null) return 0;
      const comic = this.myRating.find((r) => r.num === this.comic.num);
      return comic !== undefined && comic !== null ? comic.rating : 0;
    },
  },
  methods: {
    ...mapActions("api", [
      "getLastPage",
      "nextPage",
      "previousPage",
      "randomPage",
    ]),
    ...mapMutations("rating", ["setRating"]),
    addRating(v) {
      this.setRating({
        num: this.comic.num,
        safe_title: this.comic.safe_title,
        img: this.comic.img,
        rating: v,
      });
    },
  },
  mounted() {
    this.getLastPage();
  },
};
</script>
<style lang="scss" src="../assets/css/cardViewComic.scss"></style>